<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <form [formGroup]="resetForm" (ngSubmit)="sendResetPassword()" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="resetForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="resetForm.get('email')?.hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        
          <button mat-stroked-button  class="btn-block" type="submit">send Reset Link</button>
         
        </mat-card-content>
      </form>
    </mat-card>
  </div>
  